.buttonComponent{
    border: none;
    min-inline-size: 2.5rem;
    min-block-size: 2.5rem;
    border-radius: 50%;
    background-color: transparent;
    color: var(--gray10);
    cursor: pointer;
}
.buttonComponent:active{
    transform: scale(.9);
}
.buttonComponent.is-active{
    background-color: var(--primary);
    color: var(--white);
}
.buttonComponent.is-white{
    background-color: var(--white);
    color: var(--gray60);
}
.buttonComponent [class*="icon-play"]{
    position: relative;
    left: 2px;
    top: 1px;
}
.buttonComponent [class^="icon"]{
    font-size: 1rem;
}
.button{
    border: 1px solid var(--white);
    background-color: transparent;
    inline-size: 1.5rem;
    block-size: 1.5rem;
    border-radius: 50%;
    color: var(--white);
    font-size: .5rem;
    padding: .5rem;
    cursor: pointer;
}
.button [class="icon-play"]{
    /* color: red; */
    position: relative;
    bottom: 1px;
}
.button-playlist{
    color: var(--white);
    border: none;
    padding-inline: 2rem;
    padding-block: .5rem;
    background-color: var(--primary);
    border-radius: 2rem;
    cursor: pointer;
    text-transform: uppercase;
}
